

html,
body {
    margin: 0px;
}
  

.HeaderEsquerda {
    background-color: green;
    min-width: 160px;
    max-width: 160px;
    height: 100%;
    float: left;
}

.HeaderMeio {
    min-width: 1%;
    width: 80%;
    max-width: 50%;
    margin-left: 5%;
    margin-right: 10%;
    height: 100%;
    text-align: left;
    background-color: orange;
    float: left;
}

/*
.HeaderDireita{
    height: 100%;
    min-width: 160px;
    max-width: 160px;
    background-color: blue;
    float: right;
   
}*/


#container>div {display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    text-align: center;
    height: 1px auto;
}

#container {
    display: flex;
    /* establish flex container */
    flex-direction: row;
    /* default value; can be omitted */
    flex-wrap: nowrap;
    /* default value; can be omitted */
    justify-content: space-around;
    /* switched from default (flex-start, see below) */
    background-color: lightyellow;
}

a{
    color: black;
    text-decoration: none;    
}

.divsearch{
    background-color: orange;
    margin-top: 15px;
    height: 60px;
}

.database{
    height: 100%;
    position: relative;
    background-color: greenyellow;
}
input{
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 15%;
}

.pokemon{
    justify-content: space-evenly;
    display: flex;
    position: relative;
    top: 15px;
    width: 210px;
    align-items: center;
    background-color: aquamarine;
    height: 100px;
    border: 2px black 1;border-style: dashed;
    float: left;
}

.arrow{
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 20px;
    font-size: larger;
    background-color: red;
}

.modalpokemon {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgb(0 0 0 / 35%); /* Black w/ opacity */
    padding-top: 60px;
    
  }
  
  /* Modal Content/Box */
  .modalpokemon-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    height: 70%;
  }