<!DOCTYPE html>
<html lang="en">
<style>
    html,
    body {
        height: 100%;
        width: 100%;
        margin: 0px;
        background-color: aqua;
    }
    
    .top {
        background-color: red;
        width: 100%;
        height: 55px;
    }
    
    .left {
        background-color: black;
        height: 100%;
        float: left;
        width: 20%;
    }
    
    .right {
        background-color: green;
        height: 100%;
        float: left;
        width: 80%;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>
    <header>
        <div class="top">dssd</div>
    </header>
    <div class="left">ddd</div>
    <div class="right">dd</div>
</body>

</html>